[Unit]
Description=lights service for op3
Requires=lxc@android.service
After=phosh.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/lights

[Install]
WantedBy=graphical.target
