#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	gcc -o lights lights.c
	gcc -o fpc1020 fpc1020.c virtual-keyboard-unstable-v1-protocol.c -lwayland-client -lxkbcommon
	gcc -o s1302 s1302.c virtual-keyboard-unstable-v1-protocol.c -lwayland-client -lxkbcommon
	gcc -o tristate tristate.c `pkg-config --cflags --libs libnotify` -lpulse -o tristate
	gcc -o getvol getvol.c -lpulse -lm
	gcc -o setvol setvol.c -lpulse
	gcc -o wifiman wifiman.c

override_dh_auto_install:
	dh_auto_install
	install -D -m 0755 lights debian/op3-helpers/usr/bin/lights
	install -D -m 0755 fpc1020 debian/op3-helpers/usr/bin/fpc1020
	install -D -m 0755 s1302 debian/op3-helpers/usr/bin/s1302
	install -D -m 0644 debian/op3-helpers.fpc1020.service debian/op3-helpers/usr/lib/systemd/user/fpc1020.service
	install -D -m 0644 debian/op3-helpers.s1302.service debian/op3-helpers/usr/lib/systemd/user/s1302.service
	install -D -m 0755 tristate debian/op3-helpers/usr/bin/tristate
	install -D -m 0644 debian/op3-helpers.tristate.service debian/op3-helpers/usr/lib/systemd/user/tristate.service
	install -D -m 0755 getvol debian/op3-helpers/usr/bin/getvol
	install -D -m 0755 setvol debian/op3-helpers/usr/bin/setvol
	install -D -m 0644 pulseaudio.service.d/30-get-vol.conf debian/op3-helpers/etc/systemd/user/pulseaudio.service.d/30-get-vol.conf
	install -D -m 0644 pulseaudio.service.d/40-set-vol.conf debian/op3-helpers/etc/systemd/user/pulseaudio.service.d/40-set-vol.conf
	install -D -m 0755 wifiman debian/op3-helpers/usr/bin/wifiman

override_dh_installsystemd:
	dh_installsystemd -pop3-helpers --name=lights lights.service --no-start
	dh_installsystemd -pop3-helpers --name=wifiman wifiman.service --no-start
